    <div class="flex-container">
      <div class="blanco">
         <div>
            <h1 class="title">LOGIN</h1>
         </div>
      </div>
      <div class="negro">
          <form [formGroup]="LoginForm" class="formlog">
            <h2>UTTFOODLOGIN</h2>
            <div class="form-group">
                <input class="form-control" formControlName="email" type="text" placeholder="Usuario">
            </div>
            <div class="form-group">
                <input class="form-control" formControlName="password" type="password" placeholder="Contraseña">
            </div>
            <button class="btn btn-primary form-control" (click)="login()">Login</button>
            <a class="" routerLink="/register">dont have account? go to register</a>
        </form>
      </div>
    </div>
