.flex-container{
    display: flex;
    flex-direction: row;
}
.negro {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 100vh;
}
.blanco {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: orange;
    color: black;
    height: 100vh;
}
.title{
    font-size: 5rem;
}

.formreg {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    width: 400px;
    height: 400px;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}